* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  height: 100vh;
  font-family: 'Inter', sans-serif;
  color: #111111;
  background-color: #f7f7f7;
}

button {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  font-size: 100%;
  vertical-align: baseline;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  -webkit-appearance: none;
  appearance: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button::-moz-focus-inner {
  border: none;
}

ul {
  list-style: none;
}

:focus {
  outline: 0;
}

.container {
  max-width: 1010px;
  min-height: 100vh;
  margin: 0 auto;
  background-color: #fff;
}
